body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 3;
    background-color: #f4f4f4; 
}

.mainbar {
    flex: 7;
    background-color: #fff; 
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.add {
    all: unset; 
    cursor: pointer; 
}

.inputGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.description {
    margin-bottom: 15px;
}

.buttonGroup {
    display: flex;
    gap: 20px;
}

#myForm {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

#popUpContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto; 
}